body {
    font-family: "Helvetica", Sans-Serif;
    margin: 0;
    padding: 0;
}

.size-6 {
    width: 20px;
}

.logo {
    font-size: 35px;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.nav-left, .nav-right{
    display: flex;
    align-items: baseline;
}

.nav-list-left, .nav-list-right, .footer-list {
    display: flex;
    list-style-type: none;
    align-items: baseline;
            font-size: 17px;
}

#nav .language {
    color: lightseagreen;
    transform: scale(0.95);
}

#nav .language:hover {
    color: #0F52BA;

}

#nav a, #footer a {
    text-decoration: none;
    color: black;
}

.button {
    background-color: #C0C0C0;
    padding: 4px 6px;
    border-radius: 20px;
}

.button:hover {
    background-color: #6082B6;
}

/* .button:after {
 width: 200px;
 height: 200px;
 background-color: black;
}

button:after{
 background-color: black;
 transform: scale(0.7);
} */